/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

#Ignore .env file
.env

sandbox.rb
omni_exchange-0.1.0.gem
omni_exchange-0.2.0.gem
omni_exchange-1.1.0.gem
omni_exchange-1.1.1.gem
omni_exchange-1.2.0.gem
omni_exchange-1.3.0.gem
