---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=test&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8af064a2538c26479af9fc39ecda3a5f"
      last-modified:
      - Fri, 24 Jun 2022 08:10:00 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "disclaimer": "Usage subject to terms: https://openexchangerates.org/terms",
          "license": "https://openexchangerates.org/license",
          "timestamp": 1656058200,
          "base": "USD",
          "rates": {
            "AED": 3.673,
            "AFN": 89.336819,
            "ALL": 113.543023,
            "AMD": 412.555147,
            "ANG": 1.800031,
            "AOA": 429.40125,
            "ARS": 124.100589,
            "AUD": 1.449696,
            "AWG": 1.8,
            "AZN": 1.7,
            "BAM": 1.859543,
            "BBD": 2,
            "BDT": 92.833382,
            "BGN": 1.85816,
            "BHD": 0.377059,
            "BIF": 2054.976273,
            "BMD": 1,
            "BND": 1.388638,
            "BOB": 6.876343,
            "BRL": 5.2397,
            "BSD": 1,
            "BTC": 0.00004776686,
            "BTN": 78.21846,
            "BWP": 12.23977,
            "BYN": 3.371397,
            "BZD": 2.013197,
            "CAD": 1.298275,
            "CDF": 1996.66969,
            "CHF": 0.961664,
            "CLF": 0.032763,
            "CLP": 904.03,
            "CNH": 6.69364,
            "CNY": 6.6957,
            "COP": 4013.643266,
            "CRC": 690.37335,
            "CUC": 1,
            "CUP": 25.75,
            "CVE": 105.25,
            "CZK": 23.524,
            "DJF": 177.808402,
            "DKK": 7.069126,
            "DOP": 54.522631,
            "DZD": 146.094112,
            "EGP": 18.781,
            "ERN": 15.000001,
            "ETB": 52.042998,
            "EUR": 0.950278,
            "FJD": 2.1921,
            "FKP": 0.815949,
            "GBP": 0.815949,
            "GEL": 2.935,
            "GGP": 0.815949,
            "GHS": 7.94497,
            "GIP": 0.815949,
            "GMD": 53.95,
            "GNF": 8680.943329,
            "GTQ": 7.740675,
            "GYD": 208.950566,
            "HKD": 7.84912,
            "HNL": 24.54077,
            "HRK": 7.1568,
            "HTG": 115.357093,
            "HUF": 380.907418,
            "IDR": 14851,
            "ILS": 3.443008,
            "IMP": 0.815949,
            "INR": 78.318198,
            "IQD": 1457.708569,
            "IRR": 42250,
            "ISK": 132.76,
            "JEP": 0.815949,
            "JMD": 151.529335,
            "JOD": 0.709,
            "JPY": 134.69684615,
            "KES": 117.8,
            "KGS": 79.50026,
            "KHR": 4059.982562,
            "KMF": 468.950051,
            "KPW": 900,
            "KRW": 1295.680809,
            "KWD": 0.306495,
            "KYD": 0.832319,
            "KZT": 467.178619,
            "LAK": 14997.644161,
            "LBP": 1510.132452,
            "LKR": 359.558692,
            "LRD": 151.999978,
            "LSL": 15.975224,
            "LYD": 4.819967,
            "MAD": 10.049345,
            "MDL": 19.225302,
            "MGA": 4056.177079,
            "MKD": 58.33262,
            "MMK": 1849.211976,
            "MNT": 3127.5388,
            "MOP": 8.074314,
            "MRU": 36.244961,
            "MUR": 45.150002,
            "MVR": 15.4,
            "MWK": 1020.333221,
            "MXN": 19.9836,
            "MYR": 4.406,
            "MZN": 63.849999,
            "NAD": 15.99,
            "NGN": 414.488555,
            "NIO": 35.810792,
            "NOK": 9.95688,
            "NPR": 125.146446,
            "NZD": 1.589206,
            "OMR": 0.385054,
            "PAB": 1,
            "PEN": 3.721976,
            "PGK": 3.564535,
            "PHP": 54.943002,
            "PKR": 210.15,
            "PLN": 4.477661,
            "PYG": 6880.476016,
            "QAR": 3.649537,
            "RON": 4.7005,
            "RSD": 111.650769,
            "RUB": 53.250001,
            "RWF": 1020.555775,
            "SAR": 3.7529,
            "SBD": 8.140171,
            "SCR": 12.956085,
            "SDG": 456.5,
            "SEK": 10.151811,
            "SGD": 1.388555,
            "SHP": 0.815949,
            "SLL": 13130,
            "SOS": 577.799356,
            "SRD": 22.073,
            "SSP": 130.26,
            "STD": 21980.490504,
            "STN": 23.45,
            "SVC": 8.739636,
            "SYP": 2512.53,
            "SZL": 15.979215,
            "THB": 35.520903,
            "TJS": 10.048419,
            "TMT": 3.51,
            "TND": 3.102,
            "TOP": 2.344025,
            "TRY": 17.3727,
            "TTD": 6.788051,
            "TWD": 29.751497,
            "TZS": 2333,
            "UAH": 29.507206,
            "UGX": 3760.256223,
            "USD": 1,
            "UYU": 39.854855,
            "UZS": 10816.744386,
            "VES": 5.4505,
            "VND": 23237.5,
            "VUV": 116.588917,
            "WST": 2.647356,
            "XAF": 623.341758,
            "XAG": 0.04766454,
            "XAU": 0.00054696,
            "XCD": 2.70255,
            "XDR": 0.728295,
            "XOF": 623.341758,
            "XPD": 0.00053333,
            "XPF": 113.398375,
            "XPT": 0.00108484,
            "YER": 250.124999,
            "ZAR": 15.927942,
            "ZMW": 17.003974,
            "ZWL": 322
          }
        }
  recorded_at: Fri, 24 Jun 2022 08:13:53 GMT
recorded_with: VCR 6.1.0
