---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=test&base=JPY&symbols=KRW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"dbf40f847bf6996224eec1d231282a72"
      last-modified:
      - Tue, 21 Jun 2022 05:00:00 GMT
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Usage subject to terms: https://openexchangerates.org/terms",
          "license": "https://openexchangerates.org/license",
          "timestamp": 1655787600,
          "base": "JPY",
          "rates": {
            "KRW": 9.550665
          }
        }
  recorded_at: Tue, 21 Jun 2022 05:03:17 GMT
recorded_with: VCR 6.1.0
