---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=test&base=JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"042d0549d4781a76e0fe312f51dcbb4d"
      last-modified:
      - Thu, 30 Jun 2022 08:10:00 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "disclaimer": "Usage subject to terms: https://openexchangerates.org/terms",
          "license": "https://openexchangerates.org/license",
          "timestamp": 1656576600,
          "base": "JPY",
          "rates": {
            "AED": 0.026962,
            "AFN": 0.65281,
            "ALL": 0.83749,
            "AMD": 3.019183,
            "ANG": 0.013222,
            "AOA": 3.140522,
            "ARS": 0.91802,
            "AUD": 0.010654,
            "AWG": 0.013195,
            "AZN": 0.012479,
            "BAM": 0.013639,
            "BBD": 0.014681,
            "BDT": 0.685617,
            "BGN": 0.013725,
            "BHD": 0.002767,
            "BIF": 15.222884,
            "BMD": 0.007341,
            "BND": 0.010191,
            "BOB": 0.05044,
            "BRL": 0.038048,
            "BSD": 0.007341,
            "BTC": 3.78586e-7,
            "BTN": 0.579438,
            "BWP": 0.090245,
            "BYN": 0.024772,
            "BZD": 0.014789,
            "CAD": 0.009473,
            "CDF": 14.79101,
            "CHF": 0.007009,
            "CLF": 0.000247,
            "CLP": 6.803365,
            "CNH": 0.04914,
            "CNY": 0.049131,
            "COP": 30.287503,
            "CRC": 5.07733,
            "CUC": 0.007341,
            "CUP": 0.189023,
            "CVE": 0.766002,
            "CZK": 0.173821,
            "DJF": 1.316658,
            "DKK": 0.052282,
            "DOP": 0.400273,
            "DZD": 1.075848,
            "EGP": 0.138011,
            "ERN": 0.110111,
            "ETB": 0.382616,
            "EUR": 0.007028,
            "FJD": 0.016302,
            "FKP": 0.00604,
            "GBP": 0.00604,
            "GEL": 0.021582,
            "GGP": 0.00604,
            "GHS": 0.058836,
            "GIP": 0.00604,
            "GMD": 0.397059,
            "GNF": 63.730629,
            "GTQ": 0.056875,
            "GYD": 1.534962,
            "HKD": 0.057593,
            "HNL": 0.181783,
            "HRK": 0.05291,
            "HTG": 0.852203,
            "HUF": 2.775887,
            "IDR": 109.420902,
            "ILS": 0.02556,
            "IMP": 0.00604,
            "INR": 0.579505,
            "IQD": 10.794523,
            "IRR": 310.878819,
            "ISK": 0.980424,
            "JEP": 0.00604,
            "JMD": 1.105025,
            "JOD": 0.005205,
            "JPY": 1,
            "KES": 0.865469,
            "KGS": 0.583581,
            "KHR": 30.087152,
            "KMF": 3.410674,
            "KPW": 6.606634,
            "KRW": 9.521811,
            "KWD": 0.002253,
            "KYD": 0.006114,
            "KZT": 3.46318,
            "LAK": 111.059747,
            "LBP": 11.182693,
            "LKR": 2.641248,
            "LRD": 1.119457,
            "LSL": 0.118336,
            "LYD": 0.035275,
            "MAD": 0.074788,
            "MDL": 0.140385,
            "MGA": 29.895878,
            "MKD": 0.433156,
            "MMK": 13.584135,
            "MNT": 22.956135,
            "MOP": 0.059303,
            "MRU": 0.268554,
            "MUR": 0.33569,
            "MVR": 0.11268,
            "MWK": 7.590226,
            "MXN": 0.147954,
            "MYR": 0.032347,
            "MZN": 0.468887,
            "NAD": 0.116277,
            "NGN": 3.06936,
            "NIO": 0.265187,
            "NOK": 0.07267,
            "NPR": 0.927109,
            "NZD": 0.011774,
            "OMR": 0.002826,
            "PAB": 0.007341,
            "PEN": 0.028033,
            "PGK": 0.026184,
            "PHP": 0.403662,
            "PKR": 1.515969,
            "PLN": 0.032778,
            "PYG": 50.311944,
            "QAR": 0.027132,
            "RON": 0.034753,
            "RSD": 0.825711,
            "RUB": 0.387773,
            "RWF": 7.499752,
            "SAR": 0.027543,
            "SBD": 0.0599,
            "SCR": 0.099042,
            "SDG": 3.351031,
            "SEK": 0.075113,
            "SGD": 0.010209,
            "SHP": 0.00604,
            "SLL": 96.533195,
            "SOS": 4.278522,
            "SRD": 0.163353,
            "SSP": 0.9562,
            "STD": 161.352277,
            "STN": 0.172507,
            "SVC": 0.064199,
            "SYP": 18.443739,
            "SZL": 0.118296,
            "THB": 0.259113,
            "TJS": 0.071744,
            "TMT": 0.025766,
            "TND": 0.022565,
            "TOP": 0.017231,
            "TRY": 0.122367,
            "TTD": 0.049861,
            "TWD": 0.218235,
            "TZS": 17.118522,
            "UAH": 0.216597,
            "UGX": 27.584781,
            "USD": 0.007341,
            "UYU": 0.292118,
            "UZS": 79.674509,
            "VES": 0.040165,
            "VND": 170.833244,
            "VUV": 0.857427,
            "WST": 0.019555,
            "XAF": 4.609907,
            "XAG": 0.00035345,
            "XAU": 0.00000404,
            "XCD": 0.019839,
            "XDR": 0.005372,
            "XOF": 4.609907,
            "XPD": 0.00000372,
            "XPF": 0.838635,
            "XPT": 0.000008,
            "YER": 1.837011,
            "ZAR": 0.119209,
            "ZMW": 0.125637,
            "ZWL": 2.363707
          }
        }
  recorded_at: Thu, 30 Jun 2022 08:10:33 GMT
recorded_with: VCR 6.1.0
