---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=test&base=JPY&symbols=KRW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"042d0549d4781a76e0fe312f51dcbb4d"
      last-modified:
      - Thu, 30 Jun 2022 08:10:00 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "disclaimer": "Usage subject to terms: https://openexchangerates.org/terms",
          "license": "https://openexchangerates.org/license",
          "timestamp": 1656576600,
          "base": "JPY",
          "rates": {
            "KRW": 9.521811
          }
        }
  recorded_at: Thu, 30 Jun 2022 08:10:33 GMT
recorded_with: VCR 6.1.0
