---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/historical/2018-01-01.json?app_id=<app_id>&base=USD&symbols=EUR%2CJPY%2CKRW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e4c4b5fbd4c9c8624f82f29dd68c4f58"'
      last-modified:
      - Mon, 01 Jan 2018 23:59:59 GMT
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Usage subject to terms: https://openexchangerates.org/terms",
          "license": "https://openexchangerates.org/license",
          "timestamp": 1514851199,
          "base": "USD",
          "rates": {
            "EUR": 0.832586,
            "JPY": 112.7745,
            "KRW": 1066.25
          }
        }
  recorded_at: Tue, 06 Jun 2023 09:06:47 GMT
- request:
    method: get
    uri: https://openexchangerates.org/api/historical/2017-01-01.json?app_id=test&base=USD&symbols=JPY%2CKRW%2CEUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"98dce48bcd2e38dd01ed479b021874e5"'
      last-modified:
      - Sun, 01 Jan 2017 23:59:55 GMT
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Usage subject to terms: https://openexchangerates.org/terms",
          "license": "https://openexchangerates.org/license",
          "timestamp": 1483315167,
          "base": "USD",
          "rates": {
            "EUR": 0.949713,
            "JPY": 116.82243628,
            "KRW": 1206.45
          }
        }
  recorded_at: Mon, 26 Jun 2023 06:48:21 GMT
recorded_with: VCR 6.1.0
