---
http_interactions:
- request:
    method: get
    uri: https://xecdapi.xe.com/v1/historic_rate.json?amount=1&date=2018-01-01&from=USD&to=EUR%2CJPY%2CKRW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '900'
      x-ratelimit-remaining:
      - '899'
      x-ratelimit-reset:
      - '1688625900'
      x-raterequest-limit:
      - '30000'
      x-raterequest-remaining:
      - '24424'
      x-raterequest-reset:
      - '1690848000'
    body:
      encoding: UTF-8
      string: '{"terms":"http://www.xe.com/legal/dfs.php","privacy":"http://www.xe.com/privacy.php","from":"USD","amount":1.0,"timestamp":"2018-01-01T00:00:00Z","to":[{"quotecurrency":"EUR","mid":0.8331756502},{"quotecurrency":"JPY","mid":112.7050227918},{"quotecurrency":"KRW","mid":1066.2649691784}]}'
  recorded_at: Thu, 06 Jul 2023 06:33:11 GMT
- request:
    method: get
    uri: https://xecdapi.xe.com/v1/historic_rate.json?amount=1&date=2017-01-01&from=USD&to=JPY%2CKRW%2CEUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '900'
      x-ratelimit-remaining:
      - '899'
      x-ratelimit-reset:
      - '1688626800'
      x-raterequest-limit:
      - '30000'
      x-raterequest-remaining:
      - '24419'
      x-raterequest-reset:
      - '1690848000'
    body:
      encoding: UTF-8
      string: '{"terms":"http://www.xe.com/legal/dfs.php","privacy":"http://www.xe.com/privacy.php","from":"USD","amount":1.0,"timestamp":"2017-01-01T00:00:00Z","to":[{"quotecurrency":"EUR","mid":0.95034},{"quotecurrency":"JPY","mid":116.9695},{"quotecurrency":"KRW","mid":1207.26}]}'
  recorded_at: Thu, 06 Jul 2023 06:54:48 GMT
recorded_with: VCR 6.1.0
