---
http_interactions:
- request:
    method: get
    uri: https://xecd-api-ssl.xe.com/v1/historic_rate.json?amount=1&date=2017-01-01&from=USD&to=JPY%2CKRW%2CEUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '900'
      x-ratelimit-remaining:
      - '899'
      x-ratelimit-reset:
      - '1738219500'
      x-raterequest-limit:
      - '30000'
      x-raterequest-remaining:
      - '29962'
      x-raterequest-reset:
      - '1740787200'
    body:
      encoding: UTF-8
      string: '{"terms":"https://www.xe.com/legal/","privacy":"http://www.xe.com/privacy.php","from":"USD","amount":1.0,"timestamp":"2017-01-01T00:00:00Z","to":[{"quotecurrency":"EUR","mid":0.95034},{"quotecurrency":"JPY","mid":116.9695},{"quotecurrency":"KRW","mid":1207.26}]}'
  recorded_at: Thu, 30 Jan 2025 06:33:36 GMT
recorded_with: VCR 6.1.0
